APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:n4MH1z+yWBPvIznPlW8/PnvmCWgk+K6zC7pvxjpdRZ8=
APP_DEBUG=false
APP_URL=https://mymoononline.com

#Mobile app integration
APP_SECRET=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=mymoon
DB_USERNAME=hasan
DB_PASSWORD=Mymoon9099



BROADCAST_DRIVER=log
CACHE_DRIVER=none
QUEUE_DRIVER=sync
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mymoonteam@gmail.com
MAIL_PASSWORD=uwlcbcvashtxweyr
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="mymoonteam@gmail.com"
MAIL_FROM_NAME="Online Web Tutor"

#REDIS_HOST=127.0.0.1
#REDIS_PASSWORD=null
#REDIS_PORT=6379

#MAIL_DRIVER=smtp
#MAIL_HOST=mail.nucleustechbd.com
#MAIL_PORT=465
#MAIL_USERNAME=noreply@nucleustechbd.com
#MAIL_PASSWORD=a6mr]gfu3#MB
#MAIL_ENCRYPTION=ssl

#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION=us-east-1
#AWS_BUCKET=

#PUSHER_APP_ID=
#PUSHER_APP_KEY=
#PUSHER_APP_SECRET=
#PUSHER_APP_CLUSTER=mt1

#MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
#MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# Google Authentication
#GOOGLE_CLIENT_ID=522104786030-vb2jjk20margvkdt7u0cs6mpvm7dsnqt.apps.googleusercontent.com
#GOOGLE_CLIENT_SECRET=KgyFr2Y1p1sV3Pec2tAhsDa4
#GOOGLE_REDIRECT_URL=http://yourdomain.com/user/google/login

# Paypal sandbox
#PAYPAL_CLIENT_ID=AYaML2VNGcDm69KIyV3eGEKMZwP1yKNRt4nttGBZkUJIBPBPCCV00zJbkZ_4jzr1JeC4hfrQZUuHI_sj
#PAYPAL_SECRET=EBGKxFAGeqgd2d8GbOQl6kuXxt_sWm-ewtA0RB1ReiOTBo7g50UymDhHgn35MibH5GgZn-eeQGbGkoAF
#PAYPAL_MODE=sandbox


#paypal live
PAYPAL_CLIENT_ID=AQSVcqO2_6p86emuGOJOQGl2nguAlrZWejnZG87Q8C-a6IyXdNIeDq_1NOhN_S0H5JPI0oli-yCaDBLg
PAYPAL_SECRET=EJ9QAlUl3zY9pqXvOWBEW9J4sXLG4YGv75gS99BzxjHvyWDVqo2yDNJlCUJ2TbasorOmBmD4aUVoDybg
PAYPAL_MODE=live

# PayTm
#PAYTM_ENVIRONMENT=local
#PAYTM_MERCHANT_ID=fYyibvg501964884
#PAYTM_MERCHANT_KEY=l2FDZcdgINXJNbT&gM
#PAYTM_MERCHANT_WEBSITE=WEBSTAGING
#PAYTM_CHANNEL=WEB
#PAYTM_INDUSTRY_TYPE=Retail

# PayStack
#PAYSTACK_PUBLIC_KEY=pk_test_0276876d765ec9cd40c717eb6693d5bb67d6
#PAYSTACK_SECRET_KEY=sk_test_312d60058a68be4679449ee1f
#PAYSTACK_PAYMENT_URL=https://api.paystack.co
#MERCHANT_EMAIL=

# PayU
#PAYU_KEY=n7PqZnWv
#PAYU_SALT=5AA7CV0iZj
#PAYU_TEST_MODE=false

# Razorpay

#RAZORPAY_KEY_ID=rzp_test_u6PhfWq
#RAZORPAY_KEY_SECRET=IWFJZIYjNx1kgRDsX

# Captcha
#NOCAPTCHA_SECRET=6LfGLLcZAYeok0oaoUAQuViOJ9DXR
#NOCAPTCHA_SITEKEY=6LfGLLcZAp9j


STRIPE_KEY=pk_test_51JPgNiHmwFIZmncRRLIrqqp9aEC6QskmV012sUUHKIEJJbNYYATNF7jt4OVUDC5ObeqPBqAFdFuVi3lvluevvdDe005vMQipD9
STRIPE_SECRET=sk_test_51JPgNiHmwFIZmncRB9c7Mw8kNaKTvIPkC6LDiXO4eqGF1ZM0tDezEeYbGYX3f8U5DVXvmizQNTKWLlUqGRA3WjEw00uBWFXSB7
